<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, initial-scale=1.0, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <title>淮安科技馆</title>
  <meta name="keywords" content="淮安科技馆，海洋摇篮，探索发现，创造文明，和谐发展，儿童未来">
  <meta name="description"
    content="淮安科技馆位于淮安市文化艺术中心，于2007年3月16日正式对外开放，建筑面积21000平方米，常设展厅面积12000平方米，设有&ldquo;海洋摇篮&rdquo;、&ldquo;探索发现&rdquo;、&ldquo;创造文明&rdquo;、&ldquo;和谐发展&rdquo;、&ldquo;儿童未来&rdquo;5大主题展馆，以及1个健康主题乐园、1个光学展区、1个&ldquo;海峡两岸海洋科技展示馆&rdquo;、3个特效影院，馆藏设施近400套件。">
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo.ico">
  <link rel="icon" type="image/x-icon" href="/images/logo.ico">
  <link rel="stylesheet" type="text/css" href="/css/nprogress.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/zuo-style.css">
  <link rel="stylesheet" href="/css/ele-index.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="/js/vue.min.js"></script>
  <script src="/js/ele-index.js"></script>
  <script src="/js/axios.min.js"></script>
  <script src="/js/qs.min.js"></script>
  <script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="/js/layer/layer.js"></script>
  <script type="text/javascript" src="/js/nprogress.js"></script>
  <script type="text/javascript" src="/js/wow.min.js"></script>
  <style>
    body {
      margin: 0;
    }

    .bg {
      position: relative;
      width: 100%;
      min-height: 100vh;
      background: url(/images/loginbg.png) no-repeat 100% / cover;
      overflow: hidden;
    }

    .login-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5rem;
      padding: .4rem .7rem;
      background: #fff;
      border-radius: .1rem;
      box-sizing: border-box;
    }

    .login-header {
      display: flex;
      justify-content: space-between;
      font-size: .14rem;
      margin-bottom: .1rem;
      color: #999;
      transition: all .5s ease;
    }

    .login-header span {
      cursor: pointer;
    }

    .login-header span:hover {
      color: #337ab7;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>

<body ontouchstart>
  <div id="app">
    <div class="bg">
      <div class="login-container">
        <div class="login-header">
          <div>淮安科技馆</div>
          <span>返回首页</span>
        </div>
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
          <el-form-item prop="phone">
            <el-input v-model="ruleForm.phone" maxlength="11" autocomplete="off" placeholder="请输入手机号码">
            </el-input>
          </el-form-item>
          <el-form-item prop="chart">
            <div class="row">
              <el-input v-model="ruleForm.chart" maxlength="4" autocomplete="off" placeholder="请输入图形验证码"
                style="width:2rem;"></el-input>
              <div @click="handlerCaptcha">
                <img :src="captcha" id="captchas" alt="" style="cursor: pointer">
              </div>
            </div>
          </el-form-item>
          <el-form-item prop="short">
            <div class="row">
              <el-input v-model.number="ruleForm.short" maxlength="6" autocomplete="off" placeholder="请输入短信验证码"
                style="width:2rem;"></el-input>
              <el-button type="primary">获取验短信证码</el-button>
            </div>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')" style="width: 100%;">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
      <footer style="position: fixed;">
        <div class="left">咨询热线：0517-88888888 </div>
        <div class="navs">
          <a href="/index" title="首页">首页</a>
          <a href="/html/guide" title="参观指南">参观指南</a>
          <a href="/html/news" title="新闻中心">新闻中心</a>
          <a href="" title="游客服务">游客服务</a>
          <a href="" title="展馆活动">展馆活动</a>
          <a href="/html/login" title="我与科技馆">我与科技馆</a>
        </div>
        <div class="right">淮安科技馆管理有限公司 ALL RIGHTS RESERVED闽ICP备000000000000号网安备案号000000000000
          <a href="http://beian.miit.gov.cn" target="_blank"></a>
        </div>
        <script>
          var _hmt = _hmt || [];
          (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?xxxxxxxxxx";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
          })();
        </script>
      </footer>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data() {
        function isMobile(value) {
          if (!/(^1[3|4|5|7|8][0-9]{9}$)/.test(value)) {
            return false;
          }
          return true;
        }
        var validatePhone = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请输入手机号码'));
          } else if (!isMobile(value)) {
            callback(new Error('请输入正确的手机号码'));
          } else {
            callback();
          }
        };
        var validateChart = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请输入图形验证码'));
          } else {
            callback();
          }
        };
        var validateShort = (rule, value, callback) => {
          if (value === '') {
            return callback(new Error('请输入短信验证码'));
          } else {
            callback();
          }
        };
        return {
          captcha: '/html/captcha.html',
          ruleForm: {
            phone: '',
            chart: '',
            short: ''
          },
          rules: {
            phone: [{
              validator: validatePhone,
              trigger: 'blur'
            }],
            chart: [{
              validator: validateChart,
              trigger: 'blur'
            }],
            short: [{
              validator: validateShort,
              trigger: 'blur'
            }]
          }
        };
      },
      created() {
        new WOW().init();
        NProgress.start();
        NProgress.done();
      },
      methods: {
        handlerCaptcha() {
          // this.captcha = "/html/captcha.html?t=" + new Date().getTime() 
          axios({
            method: 'POST',
            url: 'http://192.168.100.92/api/getSmsCaptcha',
            data: {},
            headers: {
              'Content-Type': 'application/json'
            },
          }).then(res => {
            console.log(res)
          }).catch(err => {
            console.error(err)
          })
        },
        submitForm(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              layer.msg('登录成功~')
              this.$message({
                message: '恭喜你，这是一条成功消息',
                type: 'success'
              });
            } else {
              return false
            }
          });
        }
      },
    })
  </script>
  <style type="text/css">
    footer {
      background: #3d464d;
      height: .55rem;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0
    }

    @media (max-width: 767px) {
      footer {
        position: static;
      }
    }
  </style>
</body>

</html>