
.exhibitionHall {
    padding-bottom: .5rem;
}
/* tourenter start */
    .tourenter .item{
        box-shadow:0px 0px 10px rgba(0,0,0,.15);
        display:block;
        transition:all .3s
    }
    .tourenter .item .content{
        padding: .15rem .2rem;
    }
    .tourenter .row{margin:0 -.2rem;}
    .tourenter .col-sm-4{
        padding:.3rem .2rem;
    }
    .tourenter .row-btn{
        padding: .2rem;
    }
    .tourenter .row-btn .row-ol{
        float: right;
    }
    .tourenter .row-btn input:not(:first-child){
        margin-left: .1rem;
    }
    .tourenter .row-btn input.btn {
        display: inline-block;
        padding: .06rem .12rem;
        margin-bottom: 0;
        font-size: .14rem;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .tourenter .row-btn input.btn-default {
        color: #555555;
        background-color: #ffffff;
        font-family: 'Microsoft Yahei';
        border: 1px solid #d2d2d2;
        letter-spacing: .02rem;
    }
    .breadcrumb {
        background-color: #ffffff;
    }
    .breadcrumb>.active{
        color: #2184ff;
    }
    .tourenter .row-btn input:first-child{
        background-color: #2184ff;
        color: #ffffff;
    }
    .tourenter .item .h1{
        font-size:.2rem;
        color:#333;
        margin-bottom:.1rem;
    }
    .tourenter .item .imgbox img{
        height:100%;
        width:100%;
        object-fit: cover
    }
    .tourenter .item .h2{
        display:flex;
        align-items:center;
    }
    .tourenter .item .h2 .txt1{
        border: 1px solid #999;
        border-radius:3px;
        font-size:.14rem;
        color:#999;
        margin-right:.1rem;
        padding:2px 5px;
    }
    .tourenter .item .h2 .txt2{
        font-size:.14rem;
        color:#999;
    }
    .tourenter .item .h3{
        font-size:.18rem;
        color:#999;
        margin-top:.1rem
    }
    .tourenter .item .h3 span{
        color:#ff6c31;
    }
/* tourenter end */

/* change start */
    .news1-top .title span {
        background-color: #2184FF; 
        border-radius: .06rem; 
        color: #ffffff; 
        font-size: .12rem; 
        padding: .05rem .26rem;
    }
    .news1-top .item .time {
        font-size: .18rem;
    }
    header .logo {
        width: 1.80rem;
        font-family: 'Microsoft Yahei';
        font-weight: 600; 
        color: #ffffff;
        font-size: .2rem;
    }
    .news1-top .item .time {
        font-size: .16rem;
    }
    .banner2 .banner-title .en {
        font-size: .17rem;
        color: #ffffff;
        font-family: "Georgia";
        line-height: 2;
    }
    .banner2 .bgimg{
        height: 6.0rem;
        width: 100%;
        object-fit: cover;
    }
    .subnav .item:after{
        background: linear-gradient(to right, #43C9DD, #4194F9);
    }
    .subnav .item {
        line-height: .73rem; 
        font-family: 'Microsoft Yahei';
        font-weight: 600; 
        color: #555555;
    }
    .subnav .item:not(:last-child):before {
        width: 0px;
    }
    header .header-top {
        border-bottom: none;
        height: .7rem;
    }
    header {
        border-bottom: 1px solid rgba(255, 255, 255, .278);
    }

    .ticket-box .bottom .txt {
        font-size: .24rem;
        color: #555555;
        font-family: 'Microsoft Yahei';
        margin-right: .15rem;
    }
    .ticket-box .bottom .num {
        font-size: .24rem;
        font-family: 'Microsoft Yahei';
        color: #ff1e1e;
    }
    .btn-default {
        color: #989898;
        background-color: #e5e5e5;
        font-family: 'Microsoft Yahei';
        border: none;
        letter-spacing: .02rem;
    }
    .ticket-box .title {
        font-size: .24rem;
        color: #555555;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
        font-weight: 600;
    }
    .ticket-box .item {
        color: #555555;
        font-size: .16rem;
        font-family: 'Microsoft Yahei';
    }
/* change end */

/* media start */
@media (min-width: 1600px){
    .container2 {
        margin: 0 3.61rem;
    }
}
@media (min-width: 640px){
    .container {
        margin: 0 18.88%;
    }
}
@media (min-width: 1000px){
    .tourenter .item:hover{transform:translateY(-6px)}
}
@media (max-width: 530px){
    .tourenter .row-btn .row-ol{
        float: left;
    }
    .tourenter .row-btn .row-ol ol{
        padding-left: .05rem;
    }
}

@media (max-width: 767px){
    .tourenter{padding:15px 0}
    .tourenter .item{display:flex;align-items:center;margin-bottom:15px}
    .tourenter .item .imgbox{width:40%}
    .tourenter .item .content{padding:0 .2rem;flex:1}
    .tourenter .item .h1{font-size:14px;margin-bottom:8px}
    .tourenter .item .h2 .txt1{font-size:12px;}
    .tourenter .item .h2 .txt2{font-size:12px;}
    .tourenter .item .h3{font-size:14px;margin-top:12px}
    .tourenter .col-sm-4{padding:0 .2rem;}
}
/* media end */
